<!DOCTYPE html>
<html lang="en" data-th-fragment="header">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <!-- CSRF -->
    <meta name="_csrf" th:content="${_csrf.token}"/>
    <!-- default header name is X-CSRF-TOKEN -->
    <meta name="_csrf_header" th:content="${_csrf.headerName}"/>

    <!-- Tether core CSS -->
    <link href="../../css/tether.min.css" th:href="@{/css/tether.min.css}" rel="stylesheet">

    <!-- Bootstrap CSS -->
    <link href="../../css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

    <!-- Font-Awesome CSS -->
    <link href="../../css/font-awesome.min.css" th:href="@{/css/font-awesome.min.css}" rel="stylesheet">

    <!-- bootstrap tags CSS -->
    <link href="../../css/bootstrap-tagsinput.css" th:href="@{/css/jquery.tagsinput.min.css}" rel="stylesheet">

    <!-- bootstrap chosen CSS -->
    <link href="../../css/component-chosen.min.css" th:href="@{/css/component-chosen.min.css}" rel="stylesheet">

    <!-- toastr CSS -->
    <link href="../../css/toastr.min.css" th:href="@{/css/toastr.min.css}" rel="stylesheet">

    <!-- Custom styles -->
    <link href="../../css/style.css" th:href="@{/css/style.css}" rel="stylesheet">
    <link href="../../css/thymeleaf-bootstrap-paginator.css" th:href="@{/css/thymeleaf-bootstrap-paginator.css}"
          rel="stylesheet">
    <link href="../../css/blog.css" th:href="@{/css/blog.css}" rel="stylesheet">
    <style>
        .mis {
            width: 268px;
            height: 40px;
            line-height: 20px;
            overflow: hidden;
        }
    </style>
</head>
<body>
<nav class="navbar navbar-inverse bg-inverse navbar-toggleable-md">
    <!--导航栏-->
    <div class="container">
        <!-- navbar-header -->
        <div class="navbar-header">
            <a class="navbar-brand" href="/" th:href="@{/}" title="个人技术分享博客"><b>朝花夕拾</b></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarsContainer" aria-controls="navbarsExampleContainer" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        </div>

        <div class="collapse navbar-collapse" id="navbarsContainer">

            <div class="navbar-nav mr-auto">
                <div class="nav-item row">
                    <a class="nav-link" href="javascript:void(0)" th:attr="url='/blogs?order=new'"
                       style="color: #5BC0DE;">
                        &nbsp;&nbsp;最新&nbsp;&nbsp;
                    </a>
                    <a class="nav-link" href="javascript:void(0)" th:attr="url='/blogs?order=hot'" style="color: red;">
                        <i class="fa fa-fire" aria-hidden="true"></i>&nbsp;最热&nbsp;&nbsp;&nbsp;
                    </a>
                </div>
                <form class="form-inline mt-2 mt-md-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="首页搜索" id="indexkeyword"
                           th:value="${keyword}">
                    <a href="javascript:void(0)" class="btn btn-outline-info my-2 my-sm-0"
                       id="indexsearch">
                        <i class="fa fa-search" aria-hidden="true"></i>
                    </a>
                </form>
            </div>

            <div sec:authorize="isAuthenticated()" class="row">
                <div class="dropdown">
                    <a class="btn btn-outline-info dropdown-toggle" href="/u/baiyukun"
                       th:href="@{'/u/' + ${#authentication.name}}" data-toggle="dropdown">
                        [[${#authentication.name}]]
                    </a>
                    <div class="dropdown-menu">
                        <a class=" dropdown-item" href="/u/baiyukun" th:href="@{'/u/' + ${#authentication.name}}">
                            <i class="fa fa-user-circle" style="color: #5BC0DE;"></i>&nbsp;&nbsp;个人主页</a>
                        <a class="dropdown-item" href="/u/baiyukun/profile"
                           th:href="@{'/u/' + ${#authentication.name}} + '/profile'">
                            <i class="fa fa-user-plus" style="color: #5BC0DE;"></i>&nbsp;&nbsp;个人设置
                        </a>
                    </div>
                </div>&nbsp;
                <div>
                    <a href="/u/waylau/blogs/edit" th:href="'/u/' + ${#authentication.name} + '/blogs/edit'"
                       class="btn btn-outline-info my-2 my-sm-0">写博客</a>
                </div>&nbsp;
                <div>
                    <form action="/logout" th:action="@{/logout}" method="post">
                        <input class="btn btn-outline-info" type="submit" value="退出">
                    </form>
                </div>

            </div>

            <div sec:authorize="isAnonymous()">
                <a href="/login" class="btn btn-outline-info my-2 my-sm-0">登录</a>
            </div>
        </div>

    </div>
</nav>
</body>

</html>